/* .mainmenu__nav{
    /* padding-left: 150px;
} */ 
/* 
.nav_cont{
    width: 1800px;
}

.logo{
    padding-left: 40px;
} */

.foo{
    border: .02rem rgb(231, 228, 228) solid;
    /* box-shadow: 0.02rem 0.02rem .02rem rgb(96, 95, 95); */
}
.product__details{
    text-align: center;
}

.btn-4 {
    position: relative;
    color: #000;
    font-family: 'Times New Roman', Times, serif;
    z-index: 2;
    line-height: 40px;
    padding: 0;
    font-size: 25px;
    height: 60px;
    font-weight: 200;
    width: 200px;
  
  }
  .btn-4:hover{
    border: none;
  }
  .btn-4:before,
  .btn-4:after {
    position: absolute;
    content: "";
    width: 0%;
    height: 0%;
    border: 2px solid;
    z-index: -1;
    transition: all 0.3s ease;
  }
  .btn-4:before {
    top: 0;
     left: 0;
     border-bottom-color: transparent;
     border-right-color: transparent;
     border-top-color: #000;
     border-left-color: #000;
  }
  .btn-4:after{
     bottom: 0;
     right: 0;
     border-top-color: transparent;
     border-left-color: transparent;
     border-bottom-color: #000;
     border-right-color: #000;
  }
  .btn-4:hover:before,
  .btn-4:hover:after {
    border-color: #000;
    height: 100%;
    width: 100%;
  }


  .ht__bradcaump__area{
    
    
    height: 700px;

  }

  .contact_header_div{

    height: 500px;

  }

  .bottom_men{
    padding-bottom: 10px;
  }

  .map-contacts{
    padding-left: 50px;
  }


.contact-box.Interested {
    /* margin-left: -15px; */
    /* margin-right: -15px; */
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 25px;
}

.Interested{
  width: 30%;

}
.second_c{
  padding-left: 50px;
}

.contact_div{
  padding-top: 80px;
}

.head_w_e{
  text-align: center;
  padding-bottom: 80px;
}




/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}




/* .container1{
  margin-left: 100px;
  width: 1600px;
  height: 100%;
  background-color: #fff; */
  /* padding: 20px; */
  /* border-radius: 10px;
  box-shadow: 0px 0px 10px #000;
} */


.counter {
  background-color:#f5f5f5;
  padding: 20px 0;
  border-radius: 5px;
}

.count-title {
  font-size: 40px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

.count-text {
  font-size: 18px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

.fa-2x {
  margin: 0 auto;
  float: none;
  display: table;
  color: #4ad1e5;
}


.feat{
  /* background-color: #000; */
  font-family: sans-serif;
  color: #ffff;
  opacity: 1;

}

.feature__details{
  text-align: center;
  /* width: 300px; */
  /* background-color: #000; */

  /* opacity: 0.5; */
  /* padding-left: 90px; */
}

/* 
.feature{
  align-items: center;
} */

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

/* line 16, node_modules/bootstrap/scss/_card.scss */

.card > hr {
  margin-right: 0;
  margin-left: 0;
}

/* line 22, node_modules/bootstrap/scss/_card.scss */

.card > .list-group:first-child .list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

/* line 28, node_modules/bootstrap/scss/_card.scss */

.card > .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

/* line 34, node_modules/bootstrap/scss/_card.scss */

.card-body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1.25rem;
  /* height: 550px; */
}

/* line 42, node_modules/bootstrap/scss/_card.scss */

.card-title {
  margin-bottom: 0.75rem;
}

/* line 46, node_modules/bootstrap/scss/_card.scss */

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}

/* line 51, node_modules/bootstrap/scss/_card.scss */

.card-text:last-child {
  margin-bottom: 0;
}

/* line 13, node_modules/bootstrap/scss/mixins/_hover.scss */

.card-link:hover {
  text-decoration: none;
}

/* line 60, node_modules/bootstrap/scss/_card.scss */

.card-link + .card-link {
  margin-left: 1.25rem;
}

/* line 69, node_modules/bootstrap/scss/_card.scss */

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

/* line 76, node_modules/bootstrap/scss/_card.scss */

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

/* line 81, node_modules/bootstrap/scss/_card.scss */

.card-header + .list-group .list-group-item:first-child {
  border-top: 0;
}

/* line 87, node_modules/bootstrap/scss/_card.scss */

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

/* line 92, node_modules/bootstrap/scss/_card.scss */

.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

/* line 102, node_modules/bootstrap/scss/_card.scss */

.card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0;
}

/* line 109, node_modules/bootstrap/scss/_card.scss */

.card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

/* line 115, node_modules/bootstrap/scss/_card.scss */

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

/* line 124, node_modules/bootstrap/scss/_card.scss */

.card-img {
  /* height: 800PX; */
  width: 100%;
  border-radius: calc(0.25rem - 1px);
}

/* line 130, node_modules/bootstrap/scss/_card.scss */

.card-img-top {
  width: 100%;
  height: 250PX;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

/* line 135, node_modules/bootstrap/scss/_card.scss */

.card-img-bottom {
  width: 100%;
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

/* line 143, node_modules/bootstrap/scss/_card.scss */

.card-deck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 147, node_modules/bootstrap/scss/_card.scss */

.card-deck .card {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  /* line 143, node_modules/bootstrap/scss/_card.scss */

  .card-deck {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  /* line 156, node_modules/bootstrap/scss/_card.scss */

  .card-deck .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
            flex: 1 0 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
  }
}

/* line 173, node_modules/bootstrap/scss/_card.scss */

.card-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 179, node_modules/bootstrap/scss/_card.scss */

.card-group > .card {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  /* line 173, node_modules/bootstrap/scss/_card.scss */

  .card-group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }

  /* line 187, node_modules/bootstrap/scss/_card.scss */

  .card-group > .card {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
            flex: 1 0 0%;
    margin-bottom: 0;
  }

  /* line 192, node_modules/bootstrap/scss/_card.scss */

  .card-group > .card + .card {
    margin-left: 0;
    border-left: 0;
  }

  /* line 199, node_modules/bootstrap/scss/_card.scss */

  .card-group > .card:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  /* line 202, node_modules/bootstrap/scss/_card.scss */

  .card-group > .card:not(:last-child) .card-img-top,
  .card-group > .card:not(:last-child) .card-header {
    border-top-right-radius: 0;
  }

  /* line 207, node_modules/bootstrap/scss/_card.scss */

  .card-group > .card:not(:last-child) .card-img-bottom,
  .card-group > .card:not(:last-child) .card-footer {
    border-bottom-right-radius: 0;
  }

  /* line 214, node_modules/bootstrap/scss/_card.scss */

  .card-group > .card:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  /* line 217, node_modules/bootstrap/scss/_card.scss */

  .card-group > .card:not(:first-child) .card-img-top,
  .card-group > .card:not(:first-child) .card-header {
    border-top-left-radius: 0;
  }

  /* line 222, node_modules/bootstrap/scss/_card.scss */

  .card-group > .card:not(:first-child) .card-img-bottom,
  .card-group > .card:not(:first-child) .card-footer {
    border-bottom-left-radius: 0;
  }
}

/* line 239, node_modules/bootstrap/scss/_card.scss */

.card-columns .card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  /* line 238, node_modules/bootstrap/scss/_card.scss */

  .card-columns {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }

  /* line 249, node_modules/bootstrap/scss/_card.scss */

  .card-columns .card {
    display: inline-block;
    width: 100%;
  }
}

/* line 262, node_modules/bootstrap/scss/_card.scss */

.accordion > .card {
  overflow: hidden;
}

/* line 266, node_modules/bootstrap/scss/_card.scss */

.accordion > .card:not(:first-of-type) .card-header:first-child {
  border-radius: 0;
}

/* line 270, node_modules/bootstrap/scss/_card.scss */

.accordion > .card:not(:first-of-type):not(:last-of-type) {
  border-bottom: 0;
  border-radius: 0;
}

/* line 276, node_modules/bootstrap/scss/_card.scss */

.accordion > .card:first-of-type {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* line 281, node_modules/bootstrap/scss/_card.scss */

.accordion > .card:last-of-type {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* line 285, node_modules/bootstrap/scss/_card.scss */

.accordion > .card .card-header {
  margin-bottom: -1px;
}

section.card-section {
  padding-top: 2.875rem;
  padding-bottom: 2.875rem;
}

@media (min-width: 768px) {
  /* line 2, resources/assets/styles/components/_cards.scss */

  section.card-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

/* line 12, resources/assets/styles/components/_cards.scss */

.card-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 992px) {
  /* line 12, resources/assets/styles/components/_cards.scss */

  .card-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

/* line 23, resources/assets/styles/components/_cards.scss */

.card-section.two-columns-section {
  max-width: 75rem;
}

/* If big cards */

/* line 29, resources/assets/styles/components/_cards.scss */

section.two-columns-section {
  margin: auto;
}

@media (min-width: 992px) {
  /* line 31, resources/assets/styles/components/_cards.scss */

  section.two-columns-section .card {
    width: calc(50% - 1.5rem);
  }
}

/* line 38, resources/assets/styles/components/_cards.scss */

.cards-with-tab-nav {
  padding-top: 2.875rem;
  padding-bottom: 2.875rem;
}

@media (min-width: 768px) {
  /* line 38, resources/assets/styles/components/_cards.scss */

  .cards-with-tab-nav {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.card {
  max-width: 30rem;
}


@media (min-width: 992px) {
/* line 48, resources/assets/styles/components/_cards.scss */

.card {
  width: calc(33.33% - 1.5rem);
  max-width: unset;
}
}

/* line 65, resources/assets/styles/components/_cards.scss */

.single-card {
margin-bottom: 4rem;
width: 100%;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: reverse;
    -ms-flex-flow: row-reverse wrap-reverse;
        flex-flow: row-reverse wrap-reverse;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}

/* line 72, resources/assets/styles/components/_cards.scss */

.single-card .card-body,
.single-card .card-img-top {
width: 50%;
border-radius: 0;
}

@media (max-width: 991.98px) {
/* line 72, resources/assets/styles/components/_cards.scss */

.single-card .card-body,
.single-card .card-img-top {
  width: 100%;
}
}

/* line 82, resources/assets/styles/components/_cards.scss */

.card-body {
padding: 2rem;
font-family:sans-serif;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
        flex-flow: column wrap;
-webkit-box-pack: start;
    -ms-flex-pack: start;
        justify-content: flex-start;
}

/* line 88, resources/assets/styles/components/_cards.scss */

.card-body.text-align-left {
text-align: left;
-webkit-box-align: start;
    -ms-flex-align: start;
        align-items: flex-start;
}

/* line 93, resources/assets/styles/components/_cards.scss */

.card-body.text-align-center {
text-align: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}

/* line 98, resources/assets/styles/components/_cards.scss */

/* .card-body span {
display: inline-block;
font-weight: 500;
margin-bottom: 1.5rem;
font-size: 20px;
font-size: 1.25rem;
line-height: 1;
} */

/* line 106, resources/assets/styles/components/_cards.scss */

.card-body h3 {
margin-bottom: 0.75rem;
/* font-size: 26px; */
font-size: 1.5rem;
line-height: 2.15rem;
}

@media (min-width: 768px) {
/* line 106, resources/assets/styles/components/_cards.scss */

.card-body h3 {
  font-size: 32px;
  font-size: 1.7rem;
  line-height: 2.5rem;
}
}

/* line 117, resources/assets/styles/components/_cards.scss */

.card-body p {
margin-bottom: 2rem;
font-size: 18px;
font-size: 1.125rem;
line-height: 1.625rem;
}

@media (min-width: 768px) {
/* line 117, resources/assets/styles/components/_cards.scss */

.card-body p {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
}

/* line 128, resources/assets/styles/components/_cards.scss */

.card-body a {
margin-top: auto;
}

/* line 132, resources/assets/styles/components/_cards.scss */

.card-body img {
width: auto;
height: auto;
max-width: 100%;
max-height: 2rem;
margin-bottom: 2rem;
}

/* Customer Line */

/* line 2, resources/assets/styles/components/_logotype.scss */

#more {display: none;}
#more1 {display: none;}
#more2 {display: none;}

/* 
.full {
  background: url('http://placehold.it/1920x1080') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height:100%;
} */


.full {
  /* Location of the image */
  background-image: url(images/Final-div.jpg);
  
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  
  /* Pick a solid background color that will be displayed while the background image is loading */
  /* background-color:#464646; */
  
  /* SHORTHAND CSS NOTATION
   * background: url(background-photo.jpg) center center cover no-repeat fixed;
   */
}

/* For mobile devices */
@media only screen and (max-width: 767px) {
  .full {
    /* The file size of this background image is 93% smaller
     * to improve page load speed on mobile internet connections */
    background-image: url(images/new_div_res.png);
  }
	}


.cardspam{
  
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.75rem;
  
}


#section1{
background-image:url('../images/div3_2.png');
background-repeat:no-repeat;
background-size:contain;
background-position:center;
}

#section0{
  background-image:url('../images/div3.png');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

#section2{
  background-image:url('../images/new_div.png');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  }


  @media (max-width: 767px) {
    .custom-btn {
        display:none;
    }
  
      .bg__white { 
        background-image: none !important;
      }
    
}


#Glasses {display: none;}



.about2{
 /* gap:10px  */
}
