/* .mainmenu__nav{
    /* padding-left: 150px;
} */ 
/* 
.nav_cont{
    width: 1800px;
}

.logo{
    padding-left: 40px;
} */

.foo{
    border: .02rem rgb(231, 228, 228) solid;
    /* box-shadow: 0.02rem 0.02rem .02rem rgb(96, 95, 95); */
}
.product__details{
    text-align: center;
}

.btn-4 {
    position: relative;
    color: #000;
    font-family: 'Times New Roman', Times, serif;
    z-index: 2;
    line-height: 40px;
    padding: 0;
    font-size: 25px;
    height: 60px;
    font-weight: 200;
    width: 200px;
  }
  .btn-4:hover{
    border: none;
  }
  .btn-4:before,
  .btn-4:after {
    position: absolute;
    content: "";
    width: 0%;
    height: 0%;
    border: 2px solid;
    z-index: -1;
    transition: all 0.3s ease;
  }
  .btn-4:before {
    top: 0;
     left: 0;
     border-bottom-color: transparent;
     border-right-color: transparent;
     border-top-color: #000;
     border-left-color: #000;
  }
  .btn-4:after{
     bottom: 0;
     right: 0;
     border-top-color: transparent;
     border-left-color: transparent;
     border-bottom-color: #000;
     border-right-color: #000;
  }
  .btn-4:hover:before,
  .btn-4:hover:after {
    border-color: #000;
    height: 100%;
    width: 100%;
  }


  .ht__bradcaump__area{

    height: 300px;

  }

  .contact_header_div{

    height: 500px;

  }

  .bottom_men{
    padding-bottom: 10px;
  }

  .map-contacts{
    padding-left: 50px;
  }


.contact-box.Interested {
    /* margin-left: -15px; */
    /* margin-right: -15px; */
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 25px;
}

.Interested{
  width: 30%;

}
.second_c{
  padding-left: 50px;
}

.contact_div{
  padding-top: 80px;
}

.head_w_e{
  text-align: center;
  padding-bottom: 80px;
}




/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}