@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

*{
   /* font-family: 'Nunito', sans-serif; */
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition: all .2s linear;
   text-transform: capitalize;
}

.wrap__box__style--1 {
   padding-right: 60px;
   padding-bottom: 60px;
   padding-left: 60px;
   /* background: #fff; */
}

.header{
   z-index: 10;
   position: relative;
 }
 .main__menu {
   display: flex;
   justify-content: center;
  
 }
 .main__menu > li > a {
   color: #000000;
   display: block;
   font-size: 30px;
   font-weight: 400;
   line-height: 70px;
   position: relative;
   text-transform: capitalize;
 }
 .main__menu > li {
   padding: 0 20px;
   position: relative;
 }

html{
   /* font-family: 'Poppins', sans-serif; */
   font-size: 62.5%;
   overflow-x: hidden;
}

body{
   background: #eee;
}

.container{
   max-width: 1200px;
   margin:0 auto;
   padding:3rem 2rem;
}

.container .title{
   font-size: 3.5rem;
   color:#444;
   margin-bottom: 3rem;
   text-transform: uppercase;
   text-align: center;
}

.container .products-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap:2rem;
}

.container .products-container .product{
   text-align: center;
   padding:3rem 2rem;
   background: #fff;
   box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
   outline: .1rem solid #ccc;
   outline-offset: -1.5rem;
   cursor: pointer;
}

.container .products-container .product:hover{
   outline: .2rem solid #222;
   outline-offset: 0;
}

.container .products-container .product img{
   height: 25rem;
}

.container .products-container .product:hover img{
   transform: scale(.9);
}

.container .products-container .product h3{
   padding:.5rem 0;
   font-size: 2rem;
   color:#444;
}

.container .products-container .product:hover h3{
   color:#27ae60;
}

.container .products-container .product .price{
   font-size: 2rem;
   color:#444;
}

.products-preview{
   position: fixed;
   top:0; left:0;
   min-height: 100vh;
   width: 100%;
   height: 500px;
   background: rgba(0,0,0,.8);
   display: none;
   align-items: center;
   justify-content: center;
}

.products-preview .preview{
   display: none;
   padding:2rem;
   text-align: center;
   background: #fff;
   position: relative;
   margin:2rem;
   width: 70rem;
   height: 50rem;
}

.products-preview .preview.active{
   display: inline-block;
}

.products-preview .preview img{
   height: 30rem;
}

.products-preview .preview .fa-times{
   position: absolute;
   top:1rem; right:1.5rem;
   cursor: pointer;
   color:#444;
   font-size: 4rem;
}

.products-preview .preview .fa-times:hover{
   transform: rotate(90deg);
}

.products-preview .preview h3{
   color:#444;
   padding:.5rem 0;
   font-size: 2.5rem;
}

.products-preview .preview .stars{
   padding:1rem 0;
   font-size: 1.7rem;
}

.products-preview .preview .stars i{
   color:#27ae60;
}

.products-preview .preview .stars span{
   color:#999;
}

.products-preview .preview p{
   line-height: 1.5;
   padding:1rem 0;
   font-size: 1.6rem;
   color:#777;
}

.products-preview .preview .price{
   padding:1rem 0;
   font-size: 2.5rem;
   color:#27ae60;
}

.products-preview .preview .buttons{
   display: flex;
   gap:1.5rem;
   flex-wrap: wrap;
   margin-top: 1rem;
}

.products-preview .preview .buttons a{
   flex:1 1 16rem;
   padding:1rem;
   font-size: 1.8rem;
   color:#444;
   border:.1rem solid #444;
}

.products-preview .preview .buttons a.cart{
   background: #444;
   color:#fff;
}

.products-preview .preview .buttons a.cart:hover{
   background: #111;
}

.products-preview .preview .buttons a.buy:hover{
   background: #444;
   color:#fff;
}


@media (max-width:991px){

   html{
      font-size: 55%;
   }

}

@media (max-width:768px){

   .products-preview .preview img{
      height: 25rem;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

}



.mytabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 50px auto;
  padding: 25px;
}
.mytabs input[type="radio"] {
  
  display: none;
}
.mytabs label {
  font-size: 3.5em;
  padding: 25px;
  background: #e2e2e2;
  padding: 45px;
  border: #222;
  /* font-weight: bold; */
  
}

.mytabs .tab {
  width: 100%;
  padding: 20px;
  background: #fff;
  order: 1;
  display: none;
}
.mytabs .tab h2 {
  font-size: 3em;
}

.mytabs input[type='radio']:checked + label + .tab {
  display: block;
}

.mytabs input[type="radio"]:checked + label {
  background: #fff;
}


.ht__bradcaump__area{
    
    
   height: 700px;

 }
 .panel {
   border: none;
   box-shadow: none;
}

.panel-heading {
   border-color:#eff2f7 ;
   font-size: 16px;
   font-weight: 300;
}

.panel-title {
   color: #2A3542;
   font-size: 14px;
   font-weight: 400;
   margin-bottom: 0;
   margin-top: 0;
   font-family: 'Open Sans', sans-serif;
}


/*product list*/

.prod-cat li a{
   border-bottom: 1px dashed #d9d9d9;
}

.prod-cat li a {
   color: #3b3b3b;
}

.prod-cat li ul {
   margin-left: 30px;
}

.prod-cat li ul li a{
   border-bottom:none;
}
.prod-cat li ul li a:hover,.prod-cat li ul li a:focus, .prod-cat li ul li.active a , .prod-cat li a:hover,.prod-cat li a:focus, .prod-cat li a.active{
   background: none;
   color: #ff7261;
}

.pro-lab{
   margin-right: 20px;
   font-weight: normal;
}

.pro-sort {
   padding-right: 20px;
   float: left;
}

.pro-page-list {
   margin: 5px 0 0 0;
}

.product-list img{
   width: 100%;
   border-radius: 4px 4px 0 0;
   -webkit-border-radius: 4px 4px 0 0;
}

.product-list .pro-img-box {
   position: relative;
}
.adtocart {
   background: #fc5959;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   -webkit-border-radius: 50%;
   color: #fff;
   display: inline-block;
   text-align: center;
   border: 3px solid #fff;
   left: 45%;
   bottom: -25px;
   position: absolute;
}

.adtocart i{
   color: #fff;
   font-size: 25px;
   line-height: 42px;
}

.pro-title {
   color: #5A5A5A;
   display: inline-block;
   margin-top: 20px;
   font-size: 16px;
}

.product-list .price {
   color:#fc5959 ;
   font-size: 15px;
}

.pro-img-details {
   margin-left: -15px;
}

.pro-img-details img {
   width: 100%;
}

.pro-d-title {
   font-size: 16px;
   margin-top: 0;
}

.product_meta {
   border-top: 1px solid #eee;
   border-bottom: 1px solid #eee;
   padding: 10px 0;
   margin: 15px 0;
}

.product_meta span {
   display: block;
   margin-bottom: 10px;
}
.product_meta a, .pro-price{
   color:#fc5959 ;
}

.pro-price, .amount-old {
   font-size: 18px;
   padding: 0 10px;
}

.amount-old {
   text-decoration: line-through;
}

.quantity {
   width: 120px;
}

.pro-img-list {
   margin: 10px 0 0 -15px;
   width: 100%;
   display: inline-block;
}

.pro-img-list a {
   float: left;
   margin-right: 10px;
   margin-bottom: 10px;
}

.pro-d-head {
   font-size: 18px;
   font-weight: 300;
}

.container_1{
   /* margin: 40px 40px 40px 40px; */
   /* max-width: 1000px; */
}